AKAHU_APP_TOKEN= # https://my.akahu.nz/developers
AKAHU_USER_TOKEN= # https://my.akahu.nz/developers
API_BEARER_TOKEN= # bun -e 'console.log([...crypto.getRandomValues(new Uint8Array(32))].map((byte) => byte.toString(16).padStart(2, "0")).join(""))'
ACCESS_APP_HOSTNAME=bank.example.com
ACCESS_POLICY_AUD= # https://dash.cloudflare.com/one/
ACCESS_TEAM_DOMAIN=https://your-team.cloudflareaccess.com
AKAHU_API_BASE_URL=https://api.akahu.io/v1
REFRESH_COOLDOWN_SECONDS=3600
SYNC_LOOKBACK_DAYS=14
API_RATE_LIMIT_PER_MINUTE=60
